In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
df=pd.read_csv('/content/StudentsPerformance.csv')
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group C            some high school  free/reduced
1    female        group B                 high school  free/reduced
2    female        group B            some high school  free/reduced
3    female        group B                some college      standard
4    female        group C                some college  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
0                      none           0             17             10
1                      none           8             24             23
2                      none          18             32             28
3                      none          11             38             32
4                      none          22             39             33
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[1000 rows x 8 columns]

In [50]:
#Find out how many males and females participated in the test.
d1 = df.groupby(["gender"]).size()
print(d1)

gender
female    518
male      482
dtype: int64

In [51]:
#What do you think about the students' parental level of education?
d1 = df.groupby(["parental level of education"]).size()
print(d1)

parental level of education
associate's degree    222
bachelor's degree     118
high school           196
master's degree        59
some college          226
some high school      179
dtype: int64

The dataset contains 6 types of parental level education.
master's degree is the least numbered parental level education and some colleges is the hisghest numbered parental level education.

In [52]:
#Who scores the most on average for math, reading and writing based on: Gender 
d2=df.groupby('gender')[['math score','reading score','writing score']].mean()
print(d2)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

female students score more in reaading and writing whereas male students score more in math

In [53]:
#Test preparation course
d3=df.groupby('test preparation course')[['math score','reading score','writing score']].mean()
print(d3)

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

the scores most on average for math, reading and writing based on test preparation is more for completed than none

In [54]:
#What do you think about the scoring variation for math, reading and writing based on : Test preparation course
d4=df.groupby('test preparation course')[['math score','reading score','writing score']].std()
print(d4)

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

scoring variation for math, reading and writing based on Test preparation course non is more than completed

In [55]:
#Gender
d5=df.groupby('gender')[['math score','reading score','writing score']].std()
print(d5)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

scoring variation for math, reading and writing based on gender female student is more than male students

In [56]:
#The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.
d6=df.sort_values(by=['math score'],ascending=False)
print(d6)
# bonus points to the top 25% of students 
n=(25/100)*1000
print(d6.head(int(n)))

     gender race/ethnicity parental level of education         lunch  \
999    male        group E           bachelor's degree      standard
996    male        group A                some college      standard
515  female        group E                some college      standard
517  female        group E          associate's degree      standard
516  female        group E           bachelor's degree      standard
..      ...            ...                         ...           ...
2    female        group B            some high school  free/reduced
51   female        group C            some high school  free/reduced
3    female        group B                some college      standard
1    female        group B                 high school  free/reduced
0    female        group C            some high school  free/reduced

    test preparation course  math score  reading score  writing score
999               completed         100            100            100
996               completed         100             96             86
515                    none         100             92             97
517                    none         100            100            100
516                    none         100            100            100
..                      ...         ...            ...            ...
2                      none          18             32             28
51                     none          13             41             51
3                      none          11             38             32
1                      none           8             24             23
0                      none           0             17             10

[1000 rows x 8 columns]
     gender race/ethnicity parental level of education         lunch  \
999    male        group E           bachelor's degree      standard
996    male        group A                some college      standard
515  female        group E                some college      standard
517  female        group E          associate's degree      standard
516  female        group E           bachelor's degree      standard
..      ...            ...                         ...           ...
856    male        group E            some high school      standard
855    male        group E          associate's degree  free/reduced
854    male        group D            some high school      standard
853    male        group D          associate's degree  free/reduced
852    male        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
999               completed         100            100            100
996               completed         100             96             86
515                    none         100             92             97
517                    none         100            100            100
516                    none         100            100            100
..                      ...         ...            ...            ...
856               completed          77             76             77
855               completed          77             69             68
854               completed          77             68             69
853                    none          77             78             73
852                    none          77             62             64

[250 rows x 8 columns]