In [42]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [43]:
data=pd.read_csv("/content/Sales_add_669c039f4a37462aefb536b580180e79.csv")
df=pd.DataFrame(data)
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

H0=No increase in sale after digital marketing,
Ha=Increase in sale after digital marketing ,
α=0.05

In [45]:

sales_before=data["Sales_before_digital_add(in $)"]
sales_after=data["Sales_After_digital_add(in $)"]
t_val,p_val=stats.ttest_rel(sales_before,sales_after)
print("t-value =",t_val,"p-value =",p_val)

t-value = -12.09070525287017 p-value = 6.336667004575778e-11

The smaller the p-value, the stronger the evidence that you should reject the null hypothesis.
So we can reject the null hypothesis.
Therefore there is an increase in sales after stepping into digital marketing.

The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [46]:
#H0 :Independent
#Ha :Dependent
#α=0.05
df2=pd.crosstab(df['Region'],df['Manager'])
from scipy.stats import chi2_contingency
c, p, dof, expected_value= chi2_contingency(df2)
print("chi square statistic=",c,"pvalue=",p,"degrees of freedom=",dof,"expected values=",expected_value)

chi square statistic= 3.050566893424036 pvalue= 0.5493991051158094 degrees of freedom= 4 expected values= [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

As the p value is greater than the significance value.
We fail to reject the null hypothesis.
Therefore the sales features Region and Manager are Independent.